#nav{
    position: fixed;
    top:0;
    left:0;
    #logo{
        position: absolute;
        top:rem-calc(50);
        left:rem-calc(100);
        display: flex;
        align-items: center;
        white-space: nowrap;
        &:before{
            content:'';
            width: rem-calc(42);
            height: rem-calc(50);
            background:url('/images/logo.svg') no-repeat;
            background-size:100%;
            margin-right:rem-calc(24);
            display: block;
        }
    }
    #menuBtn{
        width:rem-calc(59 - 2);
        height:rem-calc(72 - 2);
        position: fixed;
        top:rem-calc(66);
        right:rem-calc(106);
        z-index: 999;
        &>div{
            width:100%;
            height:100%;
            position: absolute;
            transform-style: preserve-3d;
            &>span{
                position: absolute;
                cursor: pointer;
                transition: transform .3s cubic-bezier(0.33, 1, 0.68, 1);
            }
        }
        #default{
            left:rem-calc(10);
            top:rem-calc(26);
            transform: translate3d(0,0,0) rotateX(57deg) skewX(-29deg);
            &:hover{
                &>span{
                    &:nth-child(1){
                        transform: translate3d(rem-calc(-17), rem-calc(-30), rem-calc(12));
                    }
                    &:nth-child(2){
                        transform: translate3d(rem-calc(-14/2), rem-calc(-26/2), rem-calc(11));
                    }
                    &:nth-child(3){
                        transform: translate3d(0,0,rem-calc(8));
                    }
                }
            }
            &>span{
                width:95%;
                height:100%;
                &:nth-child(1){
                    z-index: 3;
                    transform: translate3d(rem-calc(-17), rem-calc(-30), rem-calc(20));
                }
                &:nth-child(2){
                    z-index: 2;
                    transform: translate3d(rem-calc(-14/2), rem-calc(-26/2), rem-calc(11));
                }
                &:nth-child(3){
                    z-index: 1;
                    transform: translate3d(0,0,0);
                    span{
                        background:$black;
                    }
                }
                span{
                    width:100%;
                    height:100%;
                    background:$white;
                    border: rem-calc(6) solid $black;
                }
            }
        }
        #active{
            opacity: 0;
            visibility: hidden;
            &:hover{
                &>span{
                    &:nth-child(1){
                        transform: translate3d(rem-calc(-13), rem-calc(-14), 0);
                    }
                    &:nth-child(2){
                        transform: translate3d(rem-calc(-14/2), rem-calc(-16/2), 0);
                    }
                    &:nth-child(3){
                        transform: translate3d(rem-calc(-4),rem-calc(-4),0);
                    }
                }
            }
            &>span{
                width:100%;
                height:100%;
                &:nth-child(1){
                    z-index: 3;
                    transform: translate3d(rem-calc(-17), rem-calc(-18), 0);
                    span{
                        span{
                            border:0;
                        }
                        .line{
                            width: rem-calc(40);
                            height:rem-calc(3);
                            position: absolute;
                            background:none;
                            top:50%;
                            left:50%;
                            transform: translate3d(-50%,-50%,0) rotate(45deg);
                            &:nth-child(2){
                                transform: translate3d(-50%,-50%,0) rotate(135deg);
                            }
                            span{
                                width:100%;
                                height:100%;
                                background:$black;
                                transform-origin: left;
                                display: block;
                                transform: translate3d(0,0,0) scaleX(0);
                            }
                        }
                    }
                }
                &:nth-child(2){
                    z-index: 2;
                    transform: translate3d(rem-calc(-14/2), rem-calc(-16/2), 0);
                }
                &:nth-child(3){
                    z-index: 1;
                    transform: translate3d(0,0,0);
                    span{
                        background:$black;
                    }
                }
                span{
                    width:100%;
                    height:100%;
                    background:$white;
                    border: rem-calc(4) solid $black;
                    position: relative;
                }
            }
        }
    }
    #menu{
        width:100%;
        height:105%;
        position: fixed;
        left:0;
        top:0;
        padding-left:rem-calc(164);
        background:$lightgray;
        box-shadow: rem-calc(10 10 50) #0000005C;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translate3d(rem-calc(380),-125vh,0) rotate(5deg);
        transform-origin: left bottom;
        transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
        &.active{
            // transition-delay: .6s;
            transform: translate3d(rem-calc(280),rem-calc(-50),0) rotate(-14deg);
        }
        &:before{
            content:'';
            width: rem-calc(295);
            height: rem-calc(295);
            background:url($basePath+'/images/smile.png') no-repeat;
            background-size:100%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate3d(0%,-11%,0) rotate(14deg);
        }
        div{
            a{
                position: relative;
                color:$black;
                cursor: pointer;
                &.active,
                &:hover{
                    span{
                        width:109%;
                    }
                }
                span{
                    width:0%;
                    height:100%;
                    background:url($basePath+'/images/brush.png') left center no-repeat;
                    background-size:100%;
                    position: absolute;
                    top:8%;
                    left:-7%;
                    will-change: width;
                    transition: width 0.6s cubic-bezier(0.16, 1, 0.3, 1)
                }
            }
        }
    }
}