#contact{
    width:100%;
    height:100vh;
    padding-top:rem-calc(156);
    background:$white;
    #wrap{
        position: relative;
        padding-right:rem-calc(83);
        h4{
            width:calc(100% - #{rem-calc(618 + 103 + 103 + 74)});
            position: absolute;
            top:rem-calc(145);
            right:rem-calc(103);
            color:#515F7A;
        }
        #info{
            width:rem-calc(618);
            background:$lightpurple;
            position: relative;
            padding:rem-calc(30 42 23);
            color:#515F7A;
            background:url($basePath+'/images/contactbg.png') no-repeat;
            &:before{
                content:'';
                width:rem-calc(113);
                height:rem-calc(82);
                background:url($basePath+'/images/rigaiff.png') center no-repeat;
                background-size:100%;
                mix-blend-mode: color-burn;
                position: absolute;
                top:rem-calc(27);
                right:rem-calc(27);
            }
            // &:before{
            //     content:'';
            //     width:100%;
            //     height:100%;
            //     position: absolute;
            //     top:0;
            //     left:0;
            //     z-index: 1;
            //     background:url($basePath+'/images/contactbg.png') no-repeat;
            //     // mix-blend-mode: lighten;
            // }
            #title{
                color:$black;
                margin-bottom:rem-calc(33);
                mix-blend-mode: soft-light;
            }
            #infoWrap{
                position: relative;
                z-index: 2;
                #email{
                    margin-bottom:rem-calc(5);
                    a{
                        color: $drakblue;
                    }
                }
                h5{
                    letter-spacing: rem-calc(2);
                    margin-bottom:rem-calc(45);
                }
                h6{
                    width:30%;
                    color:#A597BA;
                    margin-bottom:rem-calc(32);
                }
                #iconWrap{
                    display: flex;
                    li{
                        margin-left:rem-calc(26);
                        &:first-child{
                            margin:0;
                        }
                        a{
                            width:rem-calc(34);
                            height:rem-calc(34);
                            &#fb{
                                background:url($basePath+'/images/fb.svg') no-repeat;
                            }
                            &#ig{
                                background:url($basePath+'/images/ig.svg') no-repeat;
                            }
                        }
                    }
                }
            }
        }
        #form{
            width:60.131vw;
            height:auto;
            padding:rem-calc(44 40);
            position: fixed;
            bottom:rem-calc(-485);
            right:rem-calc(83);
            z-index: 10;
            background:url($basePath+'/images/formbg2.png') left top no-repeat;
            background-size:100%;
            transform: translate3d(0,0,0);
            transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
            // &:before{
            //     content:'';
            //     width:22%;
            //     height:40%;
            //     background:url($basePath+'/images/sticker1.png') no-repeat;
            //     background-size:100%;
            //     position: absolute;
            //     top:rem-calc(25);
            //     right:rem-calc(40);
            //     pointer-events: none;
            // }
            &:after{
                content:'';
                width:100%;
                height:rem-calc(47);
                position: absolute;
                top:100%;
                left:0;
                background:url($basePath+'/images/formbot.png') no-repeat;
                background-size:100%;
            }
            &:not(.open){
                #title{
                    cursor: pointer;
                }
            }
            &.open{
                transform: translate3d(0,calc(-85vh + #{rem-calc(100)}),0);
            }
            #btn{
                width:rem-calc(53);
                height:rem-calc(43);
                border: rem-calc(4) solid $black;
                position: absolute;
                top:rem-calc(40);
                z-index: 2;
                cursor: pointer;
                &:before{
                    content:'';
                    width:100%;
                    height:100%;
                    background:$white;
                    position: relative;
                    z-index: 1;
                    display: block;
                }
                &:after{
                    content:'';
                    width:100%;
                    height:100%;
                    border: rem-calc(4) solid $black;
                    background:$black;
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 0;
                    transform: translate3d(rem-calc(-9),rem-calc(2),0);
                    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
                }
                &.close{
                    &:after{
                        transform: translate3d(rem-calc(2),rem-calc(-9),0);
                    }
                    span{
                        transform: translate3d(-75%,-50%,0) rotate(55deg);
                        &:nth-child(2){
                            transform: translate3d(-25%,-50%,0) rotate(-55deg);
                        }
                    }
                }
                span{
                    width:35%;
                    height:rem-calc(3);
                    background:$black;
                    position: absolute;
                    top:50%;
                    left:50%;
                    z-index: 2;
                    transform: translate3d(-75%,-50%,0) rotate(-55deg);
                    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
                    &:nth-child(2){
                        transform: translate3d(-25%,-50%,0) rotate(55deg);
                    }
                }
            }
            #title{
                width:100%;
                border-bottom:rem-calc(5) solid $black;
                text-align: center;
                padding-bottom:rem-calc(27);
                display: flex;
                align-items: center;
                justify-content: center;
                &:before{
                    content:'';
                    width:rem-calc(35);
                    height:rem-calc(35);
                    margin-right:rem-calc(20);
                    background:url($basePath+'/images/mailicon.svg') center no-repeat;
                    display: inline-block;
                }
            }
            #remark{
                color:#CBCBCB;
                position: absolute;
                bottom:rem-calc(21);
                right:rem-calc(260);
                text-align: right;
                pointer-events: none;
            }
            form{
                &>div{
                    width:100%;
                    height:rem-calc(76);
                    border-bottom:rem-calc(1) solid rgba(0,0,0,.25);
                }
                input, textarea{
                    width:100%;
                    height:100%;
                    font-family: $defaultFont;
                    font-weight: 900;
                    @include setFont(40,45);
                    &::placeholder{
                        font-weight: 200;
                    }
                }
                textarea{
                    width:60%;
                    height:rem-calc(200);
                    padding-top:rem-calc(13);
                }
                #submit{
                    width:rem-calc(252);
                    height:rem-calc(180);
                    position: absolute;
                    bottom:rem-calc(30);
                    right:rem-calc(40);
                    background:url($basePath+'/images/label2.png') right bottom no-repeat;
                    background-size:rem-calc(192);
                    cursor: pointer;
                    &:hover{
                        div{
                            transform: translate3d(0,0,0) rotate(30deg);
                        }
                    }
                    div{
                        width:rem-calc(128);
                        height:rem-calc(128);
                        border-radius: 50%;
                        position: absolute;
                        top:0;
                        left:0;
                        background:$lightyellow url($basePath+'/images/smile.png') center 30% no-repeat;
                        background-size:80%;
                        transform: translate3d(0,0,0) rotate(0deg);
                        transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
                        pointer-events: none;
                    }
                    &:before{
                        content:'';
                        width:rem-calc(51);
                        height:rem-calc(59);
                        background:url($basePath+'/images/linearrow.svg') no-repeat;
                        background-size:100%;
                        display: block;
                        transform: translate3d(0,0,0) rotate(-75deg);
                        position: absolute;
                        top:rem-calc(10);
                        left:rem-calc(135);
                    }
                    &:after{
                        content:'';
                        width:rem-calc(56);
                        height:rem-calc(41);
                        background:url($basePath+'/images/arrow_w.svg') no-repeat;
                        background-size:100%;
                        display: block;
                        position: absolute;
                        bottom:0;
                        right:rem-calc(18);
                        transform: translate3d(0,-50%,0);
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

// tablet
@media only screen and (max-width: 1024px) {
    #contact{
        height:auto;
        #wrap{
            padding-bottom:rem-calc(100);
            padding-right:rem-calc(60);
            #info{
                width:100%;
            }
            h4{
                width:100%;
                position: relative;
                top:auto;
                right:auto;
                padding:rem-calc(60) 0;
                @include setFont(30, 35);
            }
            #form{
                width:100%;
                position: relative;
                bottom:auto;
                right:auto;
                box-shadow: 0 0 rem-calc(30) rgba(0,0,0,.3);
                #title{
                    padding-bottom:rem-calc(10);
                }
                #btn{
                    display: none;
                }
                form{
                    padding-bottom:rem-calc(50);
                    &>div{
                        height:auto;
                        padding:rem-calc(5) 0;
                    }
                    input, textarea{
                        @include setFont(40, 35);
                    }
                }
            }
        }
    }
}

// mobile
@media only screen and (max-width: 700px) {
    #contact{
        padding-top:rem-calc(117);
        #wrap{
            padding-bottom:rem-calc(70);
            padding-right:rem-calc(28);
            h4{
                padding-bottom:rem-calc(40);
            }
            #info{
                padding:rem-calc(10 17 20);
                &:before{
                    width:rem-calc(80);
                    top:rem-calc(0);
                    right:rem-calc(10);
                }
                #title{
                    @include setFont(40, 50);
                }
                #infoWrap{
                    h6{
                        width:60%;
                        margin-bottom: rem-calc(20);
                    }
                    #iconWrap{
                        li{
                            margin-left:rem-calc(15);
                        }
                    }
                }
            }
            #form{
                padding:rem-calc(10 17);
                #title{
                    @include setFont(25, 40);
                    padding-bottom:0;
                }
                #remark{
                    width:100%;
                    right:0;
                    text-align: center;
                }
                form{
                    padding-top:rem-calc(20);
                    padding-bottom:rem-calc(150);
                    input, textarea{
                        width:100%;
                        @include setFont(30, 50);
                    }
                    #submit{
                        width: 12.75rem;
                        height: 8.25rem;
                        background-size: 40vw;
                        bottom:rem-calc(75);
                        right:50%;
                        transform: translate3d(50%,0,0);
                        &:before{
                            width:rem-calc(40);
                            left:rem-calc(100);
                        }
                        &:after{
                            width: 2.7rem;
                            height: 2.2rem;
                            bottom: rem-calc(-6);
                        }
                        div{
                            width:25vw;
                            height:25vw;
                        }
                    }
                }
            }
        }
    }
}