#home {
    width:100%;
    height:auto;
    #banner{
        width:100%;
        height:100vh;
        position: relative;
        padding-top:rem-calc(156);
        padding-bottom:rem-calc(55);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .bigTitle{
            margin-top:rem-calc(17);
        }
        #bg{
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
            z-index: -1;
            filter: blur(70px);
            span{
                width:0;
                height:0;
                position: absolute;
                mix-blend-mode: hard-light;
                transform: translate3d(0,0,0);
                &:before{
                    content:'';
                    width:44vw;
                    height:44vw;
                    border-radius: 50%;
                    transform: translate3d(-50%,-50%,0);
                    display: block;
                }
                &:nth-child(1){
                    top:25%;
                    left:80%;
                    animation: move3 20s ease-in-out infinite reverse;
                    &:before{
                        width:23vw;
                        height:23vw;
                        background:$blue;
                    }
                }
                &:nth-child(2){
                    top:48%;
                    left:75%;
                    animation: move2 20s ease-in-out infinite reverse;
                    &:before{
                        background:$red;
                    }
                }
                &:nth-child(3){
                    top:60%;
                    left:80%;
                    animation: move1 20s ease-in-out infinite;
                    &:before{
                        background:$yellow;
                    }
                }
            }
        }
        #slogan{
            width:70%;
            max-width: rem-calc(600);
            #wrap{
                display: flex;
                align-items: center;
                &:before{
                    content:'';
                    width:rem-calc(72);
                    height:rem-calc(90);
                    background:url($basePath+'/images/label3.png') center no-repeat;
                    background-size:100%;
                    margin-left:rem-calc(-15);
                }
                // &:after{
                //     content:'';
                //     width:rem-calc(113);
                //     height:rem-calc(82);
                //     background:url($basePath+'/images/rigaiff.png') center no-repeat;
                //     background-size:80%;
                //     display: inline-block;
                //     margin-left:rem-calc(15);
                // }
                // #time{
                //     padding:rem-calc(3 10);
                //     border-radius: rem-calc(50);
                //     background:$black;
                //     color:$white;
                //     display: inline-block;
                //     @include setFont(23, 25);
                //     letter-spacing: rem-calc(1);
                // }
            }
            h5{
                margin-top:rem-calc(15);
                color:$gray;
            }
            h2>span{
                overflow: hidden;
                display: inline-flex;
                position: relative;
                &:after{
                    content:'';
                    width:100%;
                    height:rem-calc(3);
                    background:$black;
                    position: absolute;
                    bottom:rem-calc(6);
                    left:0;
                }
            }
        }
    }
    #h_projects{
        padding-top:rem-calc(152);
        padding-bottom:rem-calc(67);
        background:url($basePath+'/images/paper.png') repeat;
        #wrap{
            display: flex;
            justify-content: space-between;
            position: relative;
            &:before{
                content:'';
                width:rem-calc(808);
                height:rem-calc(808 * .39);
                background:url($basePath+'/images/line1.png') no-repeat;
                background-size:100%;
                position: absolute;
                bottom:0;
                left:rem-calc(70);
            }
            a{
                color:$black;
            }
            #left{
                width:rem-calc(375);
                a{
                    margin-top:rem-calc(25);
                }
            }
            #right{
                width: rem-calc(601);
                padding-bottom:rem-calc(100);
                #gallery{
                    width:100%;
                    height: rem-calc(601 * 0.67);
                    position: relative;
                    &:after{
                        content:'';
                        width:rem-calc(378);
                        height:rem-calc(378);
                        background:url($basePath+'/images/label.png') no-repeat;
                        background-size:100%;
                        position: absolute;
                        top:rem-calc(20);
                        right:rem-calc(-40);
                        z-index: 10;
                        transform: translate3d(0,-50%,0);
                        mix-blend-mode: darken;
                        pointer-events: none;
                    }
                    .flickity-button{
                        width:rem-calc(30);
                        height:rem-calc(30);
                        position: absolute;
                        top:50%;
                        transform: translate3d(0,-50%,0);
                        opacity:.15;
                        &:disabled{
                            opacity: .05;
                        }
                        &.previous{
                            right:calc(100% + #{rem-calc(30)});
                        }
                        &.next{
                            left:calc(100% + #{rem-calc(30)});
                        }
                    }
                    .flickity-slider{
                        transform: none !important;
                    }
                    &>li,
                    .flickity-viewport li{
                        width:100%;
                        height:100%;
                        position: absolute;
                        left:0 !important;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .6s cubic-bezier(0.33, 1, 0.68, 1);
                        &.is-selected{
                            &,
                            & ~ li{
                                opacity: 1;
                                visibility: visible;
                            }
                            #imgWrap{
                                box-shadow: 0 0 rem-calc(30) rgba(0,0,0,.3);
                                transform: translate3d(0,0,0) rotate(0deg) !important;
                                .tag{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                        &:active{
                            #imgWrap{
                                #img{
                                    transform: translate3d(0,0,0) scale(1.05);
                                }
                            }
                        }
                        #imgWrap{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            transform: translate3d(0,0,0) scale(1);
                            transition: all .6s cubic-bezier(0.33, 1, 0.68, 1);
                            .tag {
                                position: absolute;
                                bottom:0;
                                left:rem-calc(40);
                                transform: translate3d(0,50%,0);
                                opacity: 0;
                                visibility: hidden;
                                transition: all .6s cubic-bezier(0.33, 1, 0.68, 1);
                            }
                            #img{
                                width: 100%;
                                height: 100%;
                                position: relative;
                                background-size:cover;
                                background-repeat: no-repeat;
                                transform: translate3d(0,0,0) rotate(0deg);
                            }
                        }
                    }
                }
                #name{
                    width:100%;
                    position: relative;
                    top:rem-calc(20);
                    display: flex;
                    justify-content: flex-end;
                    padding-right:rem-calc(20);
                    li{
                        position: absolute;
                        opacity: 0;
                        visibility: hidden;
                        &.active{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    #h_solutions{
        width:100%;
        height:rem-calc(465);
        padding-top:rem-calc(104);
        position: relative;
        z-index: 1;
        #title{
            position: absolute;
            left:rem-calc(140);
            top:rem-calc(-4);
            z-index: 2;
            color:$white;
            letter-spacing: rem-calc(3);
            &:after{
                content:'';
                width:rem-calc(229);
                height:rem-calc(229 * .393);
                background:$lightorange;
                position: absolute;
                top:50%;
                left:50%;
                z-index: -1;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 93%);
                transform: translate3d(-50%,-50%,0) rotate(-4deg);
            }
        }
        ul{
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                width:rem-calc(222);
                height:rem-calc(290);
                margin:rem-calc(0 22);
                box-shadow:rem-calc(2 10 20) #00000029, inset rem-calc(0 0 100) #00000029;
                .corner{
                    width:100%;
                    height:100%;
                    padding:rem-calc(43 25 14);
                    background:$white;
                    border: 5px solid #C7C7C7;
                    &:before{
                        bottom:rem-calc(-5);
                        right:rem-calc(-5);
                        border-color:#B45F32 transparent transparent transparent;
                        box-shadow: none;
                    }
                    &:after{
                        content:'';
                        width:rem-calc(30);
                        height:rem-calc(21);
                        background:url($basePath+'/images/arrow.svg') no-repeat;
                        background-size:100%;
                        position: absolute;
                        bottom:rem-calc(13);
                        right:rem-calc(18);
                        transform: translate3d(0,0,0);
                        transition: transform .5s cubic-bezier(0.65, 0, 0.35, 1);
                    }
                    &:hover{
                        &:after{
                            transform: translate3d(-100%,0,0);
                        }
                    }
                }
                &:nth-child(1){
                    .icon{
                        width:rem-calc(39);
                        height:rem-calc(33);
                        background:$white url($basePath+'/images/solutions1.svg') no-repeat;
                        background-size:100%;
                        position: relative;
                        &:before{
                            content:'';
                            width:100%;
                            height:100%;
                            background:$black;
                            position: absolute;
                            top:rem-calc(6);
                            left:rem-calc(6);
                            z-index: -1;
                        }
                    }
                }
                &:nth-child(2){
                    .icon{
                        width:rem-calc(43);
                        height:rem-calc(40);
                        background:url($basePath+'/images/solutions2.svg') no-repeat;
                        background-size:100%;
                    }
                }
                &:nth-child(3){
                    .icon{
                        width:rem-calc(42);
                        height:rem-calc(41);
                        background:url($basePath+'/images/solutions3.svg') no-repeat;
                        background-size:100%;
                    }
                }
                &:nth-child(4){
                    .icon{
                        width:rem-calc(43);
                        height:rem-calc(37);
                        background:url($basePath+'/images/note.svg') center no-repeat;
                        background-size:100%;
                    }
                }
                .icon{
                    margin-bottom:rem-calc(23);
                }
                h5{
                    line-height: rem-calc(25);
                    margin-bottom:rem-calc(13);
                }
                p{
                    color:$gray;
                }
            }
        }
        #bgWrap{
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
            z-index: -1;
            overflow: hidden;
            #bg{
                width:100%;
                height:100%;
                position: relative;
                filter: blur(70px);
                span{
                    width:0;
                    height:0;
                    position: absolute;
                    mix-blend-mode: hard-light;
                    transform: translate3d(0,0,0);
                    &:before{
                        content:'';
                        width:60vw;
                        height:60vw;
                        border-radius: 50%;
                        transform: translate3d(-50%,-50%,0);
                        display: block;
                    }
                    &:nth-child(1){
                        top:50%;
                        left:80%;
                        animation: move3 20s ease-in-out infinite reverse;
                        &:before{
                            background:orange;
                        }
                    }
                    &:nth-child(2){
                        top:50%;
                        left:15%;
                        animation: move2 20s ease-in-out infinite reverse;
                        &:before{
                            background:$lightred;
                        }
                    }
                    &:nth-child(3){
                        top:50%;
                        left:50%;
                        animation: move1 20s ease-in-out infinite;
                        &:before{
                            background:$yellow;
                        }
                    }
                }
            }
        }
    }
    #h_about{
        width:100%;
        height:rem-calc(553);
        background:url($basePath+'/images/orange_paper_cover.jpg') center no-repeat;
        background-size:cover;
        color:$white;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        #wrap{
            display: flex;
            justify-content: space-between;
            #icon{
                width:rem-calc(120);
                height:rem-calc(120 * 0.858);
                background:url($basePath+'/images/note.svg') no-repeat;
                background-size:100%;
                margin-bottom:rem-calc(38);
            }
            h4{
                width:rem-calc(591);
                // position: absolute;
                // top:50%;
                // right:rem-calc(169);
                // transform: translate3d(0,-50%,0);
            }
        }
    }
}

@keyframes move1{
    0%{
        transform: translate3d(0,0,0);
    }
    20%{
        transform: translate3d(5vw,10vw,0);
    }
    40%{
        transform: translate3d(10vw,-5vw,0);
    }
    60%{
        transform: translate3d(-10vw,15vw,0);
    }
    80%{
        transform: translate3d(-10vw,-10vw,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}

@keyframes move2{
    0%{
        transform: translate3d(0,0,0);
    }
    20%{
        transform: translate3d(-5vw,10vw,0);
    }
    40%{
        transform: translate3d(10vw,5vw,0);
    }
    60%{
        transform: translate3d(-10vw,-15vw,0);
    }
    80%{
        transform: translate3d(10vw,-10vw,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}

@keyframes move3{
    0%{
        transform: translate3d(0,0,0);
    }
    20%{
        transform: translate3d(5vw,2vw,0);
    }
    50%{
        transform: translate3d(-15vw,22vw,0);
    }
    80%{
        transform: translate3d(10vw,35vw,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}

// tablet
@media only screen and (max-width: 1024px) {
    #home{
        .flickity-page-dots{
            display: block;
            margin-top:rem-calc(150);
        }
        #h_projects{
            #wrap{
                &:before{
                    width:rem-calc(608);
                    height:rem-calc(608 * .39);
                }
                #right{
                    width:rem-calc(501);
                    #gallery{
                        height:rem-calc(501 * .67);
                        &>li,
                        .flickity-viewport li{
                            #imgWrap{
                                #img{
                                    transform: translate3d(0,0,0) scale(1) !important;
                                }
                            }
                        }
                    }
                    #name{
                        top:rem-calc(50);
                    }
                }
            }
        }
        #h_solutions{
            height:auto;
            padding:rem-calc(80 0 50);
            #title{
                left:rem-calc(100);
            }
            ul{
                flex-wrap: wrap;
                li{
                    width:rem-calc(200);
                    margin:rem-calc(15);
                }
            }
        }
        #h_about{
            #wrap{
                display: block;
            }
            h4{
                margin-top:rem-calc(30);
            }
        }
    }
}

// tablet
@media only screen and (max-width: 768px) {
    #home{
        .flickity-page-dots{
            margin-top:rem-calc(140);
        }
        #banner{
            #slogan{
                width:90%;
            }
        }
        #h_projects{
            padding-top:rem-calc(60);
            padding-bottom:rem-calc(160);
            #wrap{
                flex-wrap: wrap;
                &:before{
                    width:100vw;
                    height:calc((100vw - #{rem-calc(28+28)})  * 0.39);
                    left:0;
                    bottom:-5%;
                }
                #right{
                    width:100%;
                    padding-top: rem-calc(100);
                    #gallery{
                        height:calc((100vw - #{rem-calc(120)})  * 0.67);
                    }
                    #name{
                        justify-content: center;
                        text-align: center;
                        top:rem-calc(90);
                    }
                }
            }
        }
        #h_solutions{
            height:auto;
            padding:rem-calc(80 0 50);
            ul {
                padding: 0 rem-calc(60);
                margin-top:rem-calc(-30);
                flex-wrap: wrap;
                li{
                    width:rem-calc(250);
                    margin:rem-calc(30);
                }
            }
        }
        #h_about{
            height:auto;
            flex-wrap: wrap;
            justify-content: initial;
            padding-top:rem-calc(100);
            padding-bottom:rem-calc(100);
            #titleWrap{
                display: flex;
                #icon{
                    margin-right:rem-calc(50);
                }
            }
            h4{
                width:100%;
                position: relative;
                top:0;
                right:rem-calc(0);
                transform: none;
            }
        }
    }
}

// mobile
@media only screen and (max-width: 700px) {
    #home{
        .flickity-page-dots{
            margin-top:rem-calc(160);
        }
        #banner{
            height:calc(100vh - #{rem-calc(108)});
            #slogan{
                #wrap,
                h2{
                    display: none;
                }
            }
            #bg{
                filter:blur(50px);
                span{
                    &:before{
                        width:100vw;
                        height:100vw;
                    }
                    &:nth-child(1){
                        top:25%;
                        left:100%;
                    }
                    &:nth-child(2){
                        top:48%;
                        left:85%;
                    }
                    &:nth-child(3){
                        top:60%;
                        left:100%;
                    }
                }
            }
        }
        #h_projects{
            #wrap{
                padding:rem-calc(0 60);
                &:before{
                    bottom:3%;
                }
                #right{
                    #gallery{
                        height:calc((100vw - #{rem-calc(28+28)})  * 0.67);
                        &:after{
                            width:60vw;
                            height:60vw;
                            right:rem-calc(-10);
                        }
                        &>li,
                        .flickity-viewport li{
                            #imgWrap{
                                .tag {
                                    left:rem-calc(15);
                                }
                                .tag7{
                                    padding-left: rem-calc(50);
                                    padding-right: rem-calc(20);
                                    @include setFont(20, 25);
                                    &:before{
                                        width:rem-calc(17);
                                        height:rem-calc(15);
                                        border-width: rem-calc(2);
                                        padding-top:rem-calc(2);
                                        @include setFont(15, 15);
                                        left:8%;
                                    }
                                    &:after{
                                        left:24%;
                                        top:50%;
                                    }
                                }
                            }
                        }
                        .flickity-button{
                            &.previous{
                                right:calc(100% + #{rem-calc(15)});
                            }
                            &.next{
                                left:calc(100% + #{rem-calc(15)});
                            }
                        }
                    }
                    #name{
                        li{
                            a{
                                @include setFont(25, 35);
                            }
                        }
                    }
                }
            }
        }
        #h_solutions{
            #title{
                left:rem-calc(45);
                &:after{
                    width:rem-calc(145);
                    height:rem-calc(145 * .393);
                }
            }
            ul{
                padding:0 rem-calc(28);
                li{
                    width:100%;
                    height:auto;
                    margin:rem-calc(10) 0;
                    .corner{
                        padding:rem-calc(25 25);
                        display: flex;
                        align-items: center;
                        &:after{
                            width:rem-calc(26);
                            height:rem-calc(20);
                            bottom:50%;
                            right:rem-calc(15);
                            transform: translate3d(0,50%,0);
                        }
                        &:hover{
                            &:after{
                                transform: translate3d(0,0,0);
                            }
                        }
                    }
                    .icon{
                        margin:0;
                        margin-right:rem-calc(28);
                    }
                    h5{
                        width: 60%;
                        margin:0;
                        br{
                            display: none;
                        }
                    }
                    p{
                        display: none;
                    }
                }
            }
            #bgWrap{
                #bg{
                    span{
                        &:before{
                            width:100vw;
                            height:100vw;
                        }
                        &:nth-child(1){
                            top:0%;
                            left:80%;
                        }
                        &:nth-child(3){
                            top:70%;
                            left:50%;
                        }
                    }
                }
            }
        }
        #h_about{
            background-position: 70% bottom;
            // background-size:auto 120%;
            padding-top: rem-calc(80);
            padding-bottom: rem-calc(50);
            #titleWrap{
                #icon{
                    width:rem-calc(90);
                    height:rem-calc(90 * 0.858);
                    margin-right:rem-calc(20);
                }
            }
            #wrap{
                h4{
                    width:100%;
                    margin-top:rem-calc(30);
                }
            }
        }
    }
}