#post{
    #featuredImage{
        width:100%;
        height:rem-calc(460);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #description{
        background:#9EA058;
        position: relative;
        &:after{
            content:'';
            width:100%;
            height:rem-calc(76);
            background:url($basePath+'/images/paper_edge.png') center no-repeat;
            background-size:cover;
            position: absolute;
            bottom:0;
            left:0;
        }
        #wrap{
            padding: rem-calc(44 0 127);
            position: relative;
            h1{
                margin-bottom:rem-calc(28);
                padding:rem-calc(0 6);
            }
            h2{
                width:75%;
                color:#41412D;
                padding:rem-calc(0 6);
            }
            #info{
                border-top:rem-calc(1) solid #707070;
                margin-top:rem-calc(57);
                li{
                    color:#525252;
                    margin-left:rem-calc(62);
                    padding:rem-calc(42 6 0);
                    display: inline-block;
                    &:first-child{
                        margin:0;
                    }
                }
            }
            #tag{
                position: absolute;
                top:rem-calc(68);
                right:0;
                display: flex;
                flex-direction: column;
                li{
                    margin-top:rem-calc(26);
                    text-align: center;
                    &:first-child{
                        margin:0;
                    }
                    span{
                        box-shadow: 0px 3px 20px #00000029;
                    }
                }
            }
        }
    }
    #gallery{
        background:#EFEFEF;
        padding-top:rem-calc(129);
        padding-bottom:rem-calc(152);
        img{
            display: inline-block;
        }
        #img{
            margin-top:rem-calc(57);
            &:first-child{
                img{
                    width:88.621%;
                    text-align: center;
                }
            }
        }
        #imgR{
            display: flex;
            justify-content: flex-end;
            margin-top:rem-calc(91);
            img{
                width: 67.3%;
            }
        }
        #imgwithDes1{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top:rem-calc(169);
            &+#img{
                margin-top:rem-calc(97);
            }
            div{
                width:rem-calc(756);
                img{
                    box-shadow: 0px 3px 6px #00000029;
                }
                h5{
                    width:70%;
                    margin-top:rem-calc(45);
                }
            }
        }
        #imgwithDes2{
            margin-top:rem-calc(88);
            &+#img{
                margin-top:rem-calc(132);
            }
            div{
                display: flex;
                align-items: flex-end;
                img{
                    width:rem-calc(756);
                }
                h5{
                    margin-top:rem-calc(45);
                    padding-left:rem-calc(52);
                }
            }
        }
    }
    #back{
        width:100%;
        height:rem-calc(152);
        text-decoration: underline;
        color:$white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// tablet
@media only screen and (max-width: 1024px) {
    #post #gallery{
        #description{
            #wrap{
                h2{
                    width: 70%;
                }
            }
        }
        #imgR{
            margin-top: rem-calc(60);
        }
        #imgwithDes1{
            margin-top: rem-calc(60);
            &+#img{
                margin-top: rem-calc(80);
            }
            div{
                width:84%;
                h5{
                    width:100%;
                    margin-top:rem-calc(30);
                }
            }
        }
        #imgwithDes2{
            margin-top: rem-calc(60);
            &+#img{
                margin-top: rem-calc(80);
            }
            div{
                width:84%;
                flex-direction: column;
                img{
                    width:100%;
                }
                h5{
                    padding:0;
                    margin-top:rem-calc(30);
                }
            }
        }
    }
}

// tablet
@media only screen and (max-width: 768px) {
    #post{
        #featuredImage {
            height: rem-calc(360);
        }
        #description{
            #wrap{
                #tag{
                    position: relative;
                    top:0;
                    flex-direction: initial;
                    margin-left:rem-calc(-22);
                    margin-bottom:rem-calc(50);
                    li{
                        margin:0;
                        margin-left:rem-calc(22);
                        &:first-child{
                            margin-left:rem-calc(22);
                        }
                    }
                }
                h2{
                    width:100%;
                }
            }
        }
        #gallery{
            padding-top:rem-calc(30);
            padding-bottom:rem-calc(100);
        }
    }
}

// mobile
@media only screen and (max-width: 700px) {
    #post{
        #featuredImage {
            height: rem-calc(246);
        }
        #description{
            #wrap{
                padding-bottom:rem-calc(100);
                #tag{
                    position: relative;
                    top:0;
                    flex-direction: initial;
                    margin-left:rem-calc(-22);
                    margin-bottom:rem-calc(50);
                    li{
                        margin:0;
                        margin-left:rem-calc(22);
                        &:first-child{
                            margin-left:rem-calc(22);
                        }
                        .h5{
                            @include setFont(15, 20);
                        }
                        .tag7{
                            padding-left: rem-calc(50);
                            padding-right: rem-calc(20);
                            &:before{
                                width:rem-calc(17);
                                height:rem-calc(15);
                                border-width: rem-calc(2);
                                padding-top:rem-calc(2);
                                @include setFont(15, 15);
                                left:8%;
                            }
                            &:after{
                                left:24%;
                                top:50%;
                            }
                        }
                        span{
                            white-space: nowrap;
                        }
                    }
                }
                h1{
                    line-height: rem-calc(55);
                    padding:0;
                }
                h2{
                    width:100%;
                    padding:0;
                }
                #info{
                    margin-top:rem-calc(40);
                    padding-top:rem-calc(20);
                    li{
                        width:100%;
                        margin:0;
                        padding:0;
                        padding-top:rem-calc(15);
                    }
                }
            }
        }
        #gallery{
            padding-top:rem-calc(1);
            padding-bottom:rem-calc(100);
            #img{
                margin-top:rem-calc(20);
                display: flex;
                &:first-child{
                    img{
                        width:100%;
                    }
                }
            }
            #imgR{
                margin-top:rem-calc(20);
                img{
                    width:100%;
                }
            }
            #imgwithDes1{
                div{
                    width:100%;
                }
            }
            #imgwithDes2{
                margin-top:rem-calc(20);
                div{
                    width:100%;
                }
            }
        }
        #back{
            height:rem-calc(118);
            font-size:rem-calc(25);
        }
    }
}