#projects{
    background:url($basePath+'/images/paper.png') repeat;
    #tagWrap{
        background:#F7F6F1;
        color:$drakblue;
        position: relative;
        padding-top:rem-calc(54);
        padding-bottom:rem-calc(71);
        padding-right:rem-calc(80);
        line-height: rem-calc(41);
        &:before{
            content:'';
            width:100%;
            height:rem-calc(1);
            position: absolute;
            left:0;
            top:rem-calc(23);
            background:$drakgray;
        }
        &:after{
            content:'';
            width:100%;
            height:rem-calc(1);
            position: absolute;
            left:0;
            bottom:rem-calc(23);
            background:$drakgray;
        }
        #tags{
            &>span{
                display: inline;
            }
            p{
                color:$gray;
                padding-bottom:rem-calc(9);
            }
            .t{
                width:0;
                height:0;
                position: relative;
                display: inline-block;
                &>span{
                    position: absolute;
                    transform: translate3d(-50%,-50%,0);
                    white-space: nowrap;
                }
            }
            .tag{
                cursor: pointer;
                transition: transform .2s cubic-bezier(0.33, 1, 0.68, 1);
                &:hover{
                    transform: translate3d(-50%,-50%,0) rotate(0deg) scale(.97);
                }
                &:active,
                &.active{
                    transform: translate3d(-50%,-50%,0) rotate(-5deg) scale(1.08);
                    box-shadow: 0 0 rem-calc(6) rgba(0,0,0,.5);
                    &.tag8{
                        box-shadow: none !important;
                        &:before{
                            content:'';
                            width:98%;
                            height:86%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate3d(-50%, -50%, 0) rotate(-4deg);
                            box-shadow: 0 0 rem-calc(10) rgba(0,0,0,.5);
                            transition: transform .2s cubic-bezier(0.33, 1, 0.68, 1);
                        }
                    }
                }
            }
        }
    }
    #projectListWrap{
        padding:rem-calc(83 70 68);
        display: flex;
        flex-direction: column;
        align-items: center;
        #projectList{
            width:calc(100% + #{rem-calc(11)});
            margin-left:rem-calc(-11);
            margin-top:rem-calc(-28);
            margin-bottom:rem-calc(60);
            li{
                width:calc(100% / 4 - #{rem-calc(11)});
                display: inline-block;
                margin-left:rem-calc(11);
                vertical-align: top;
                &.space{
                    width:20%;
                    background:none;
                    position: absolute;
                    top:0 !important;
                    display: block !important;
                    &:nth-last-child(1){
                        height:rem-calc(85 - 11);
                        left:calc(100% / 4 + 2%) !important;
                    }
                    &:nth-last-child(2){
                        height:rem-calc(39);
                        right:0;
                        left:auto !important;
                    }
                }
                &.cultural1{
                    .corner{
                        background:#E7DFD2;
                    }
                    #itemWrap{
                        // .tag{
                        //     top:rem-calc(51);
                        //     left:rem-calc(24);
                        //     transform: translate3d(0,-50%,0);
                        // }
                        #wrap{
                            #imgWrap{
                                padding-top:rem-calc(51);
                                background:#E7DFD2;
                            }
                        }
                    }
                }
                &.cultural2{
                    .corner{
                        background:#A462A2;
                    }
                    #itemWrap{
                        // .tag{
                        //     bottom:rem-calc(5);
                        //     left:rem-calc(24);
                        //     transform: translate3d(0,-50%,0);
                        // }
                        #wrap{
                            flex-direction: column-reverse;
                            #imgWrap{
                                padding-top:rem-calc(51);
                                background:#A487B7;
                                mix-blend-mode: soft-light;
                            }
                            #name{
                                padding-top:rem-calc(53);
                                padding-bottom:rem-calc(20);
                            }
                        }
                    }
                }
                &.cultural3{
                    .corner{
                        background:#949971;
                    }
                    #itemWrap{
                        // .tag{
                        //     top:rem-calc(250);
                        //     left:rem-calc(-15);
                        // }
                        #wrap{
                            #imgWrap{
                                background:#949971;
                            }
                        }
                    }
                }
                &.development{
                    .corner{
                        background:#BAB6D3;
                    }
                    #itemWrap{
                        .tag{
                            top:rem-calc(10);
                        }
                        #wrap{
                            #imgWrap{
                                background:#BAB6D3;
                            }
                        }
                    }
                }
                &.mobileapp{
                    .corner{
                        background:#B1B499;
                    }
                    #itemWrap{
                        // .tag{
                        //     top:0;
                        //     left:rem-calc(50);
                        //     transform: translate3d(0,-50%,0);
                        // }
                        #wrap{
                            #imgWrap{
                                background:#B1B499;
                            }
                        }
                    }
                }
                &.ui{
                    .corner{
                        background:#BCBCBC;
                    }
                    #itemWrap{
                        // .tag{
                        //     top:rem-calc(120);
                        //     left:rem-calc(24);
                        // }
                        #wrap{
                            flex-direction: column-reverse;
                            #imgWrap{
                                background:#828284;
                            }
                            #name{
                                padding-top:rem-calc(53);
                                padding-bottom:rem-calc(20);
                            }
                        }
                    }
                }
                &.website{
                    .corner{
                        background:#BA9D95;
                    }
                    #itemWrap{
                        // .tag{
                        //     top:rem-calc(-10);
                        //     right:rem-calc(-10);
                        // }
                        #wrap{
                            #imgWrap{
                                background:#BA9D95;
                            }
                        }
                    }
                }
                &.system{
                    .corner{
                        background:#B59B80;
                    }
                    #itemWrap{
                        // .tag{
                        //     top:rem-calc(-25);
                        //     right:rem-calc(10);
                        // }
                        #wrap{
                            flex-direction: column-reverse;
                            #imgWrap{
                                background:#B59B80;
                                mix-blend-mode: hard-light;
                            }
                            #name{
                                padding-top:rem-calc(53);
                                padding-bottom:rem-calc(20);
                            }
                        }
                    }
                }
                .corner{
                    &:before{
                        border-color:$black;
                        opacity: .3;
                    }
                }
                #itemWrap{
                    color:$black;
                    margin-top:rem-calc(50);
                    position: relative;
                    display: block;
                    transition: box-shadow 0.5s cubic-bezier(0.65, 0, 0.35, 1);
                    &:hover{
                        box-shadow: 0 0 rem-calc(20) rgba(0,0,0,.1), inset 0 0 rem-calc(50) rgba(0,0,0,.1);
                    }
                    .tag{
                        position: absolute;
                        top:rem-calc(0);
                        left:rem-calc(30);
                        transform: translate3d(0,-50%,0);
                    }
                    #wrap{
                        display: flex;
                        flex-direction: column;
                        #imgWrap{
                            width:100%;
                            height:rem-calc(335);
                            #img{
                                width:100%;
                                height:100%;
                                background-size:cover;
                                background-repeat: no-repeat;
                                background-position: center;
                                mix-blend-mode:darken;
                            }
                        }
                        #name{
                            padding:rem-calc(25 24 10);
                            line-height: rem-calc(30);
                        }
                    }
                    #des{
                        height: rem-calc(112);
                    }
                    #des_s{
                        height: rem-calc(74);
                    }
                }
            }
        }
        #more{
            width:rem-calc(285);
            height:rem-calc(93);
            display: flex;
            align-items: center;
            justify-content: center;
            color:#997670;
            border:rem-calc(2) solid #997670;
            border-radius: rem-calc(999);
            cursor: pointer;
            transition: all .2s cubic-bezier(0.33, 1, 0.68, 1);
            &:hover{
                color:$white;
                background:#997670;
            }
        }
    }
}

// tablet
@media only screen and (max-width: 1024px) {
    #projects{
        #tagWrap{
            padding-right: 0;
            #tags{
                margin:rem-calc(-10 0 0 -10);
                &>span{
                    display: none;
                }
                .t{
                    width:auto;
                    height:auto;
                    padding:0;
                    margin:rem-calc(10);
                    &>span{
                        position: relative;
                        transform: none;
                    }
                    .tag{
                        &:hover,
                        &:active{
                            transform: none;
                            box-shadow: none;
                        }
                        &.active{
                            transform: translate3d(0,0,0) rotate(-5deg) scale(1.08);
                            box-shadow: 0 0 rem-calc(6) rgba(0,0,0,.5);
                        }
                    }
                }
            }
        }
        #projectListWrap{
            padding-left:rem-calc(60);
            padding-right:rem-calc(60);
            #projectList{
                li{
                    width:calc(100% / 3 - #{rem-calc(11)});
                    &.space{
                        width:28%;
                        &:nth-last-child(2){
                            display: none !important;
                        }
                        &:nth-last-child(1){
                            left:calc(100% / 3 + 2%) !important
                        }
                    }
                }
            }
        }
    }
}

// tablet
@media only screen and (max-width: 768px) {
    #projects{
        #tagWrap{
            padding-top:rem-calc(71);
            .h5{
                display: none;
            }
        }
        #projectListWrap{
            padding-top:rem-calc(50);
            #projectList{
                width: calc(100% + #{rem-calc(30)});
                margin-left:rem-calc(-30);
                li{
                    width:calc(100% / 2 - #{rem-calc(30)});
                    margin-left:rem-calc(30);
                    &.space{
                        width:48%;
                        &:nth-last-child(2){
                            display: none !important;
                        }
                        &:nth-last-child(1){
                            left:calc(100% / 2 + 2%) !important
                        }
                    }
                }
            }
        }
    }
}

// mobile
@media only screen and (max-width: 700px) {
    #projects{
        #projectListWrap{
            padding:rem-calc(50 28);
            #projectList{
                width: 100%;
                margin-left:0;
                li{
                    width:100%;
                    margin-left:0;
                    &.space{
                        display: none !important;
                    }
                    #itemWrap{
                        #des{
                            height:rem-calc(30);
                        }
                    }
                }
            }
        }
    }
}