#projects{
    background:url($basePath+'/images/paper.png') repeat;
    #tagWrap{
        background:#F7F6F1;
        color:$drakblue;
        position: relative;
        padding-top:rem-calc(54);
        padding-bottom:rem-calc(71);
        padding-right:rem-calc(80);
        line-height: rem-calc(41);
        &:before{
            content:'';
            width:100%;
            height:rem-calc(1);
            position: absolute;
            left:0;
            top:rem-calc(23);
            background:$drakgray;
        }
        &:after{
            content:'';
            width:100%;
            height:rem-calc(1);
            position: absolute;
            left:0;
            bottom:rem-calc(23);
            background:$drakgray;
        }
        p{
            color:$gray;
            padding-bottom:rem-calc(9);
        }
        .t{
            width:0;
            height:0;
            position: relative;
            display: inline-block;
            &>span{
                position: absolute;
                transform: translate3d(-50%,-50%,0);
                white-space: nowrap;
            }
        }
        .tag{
            cursor: pointer;
            transition: transform .2s cubic-bezier(0.33, 1, 0.68, 1);
            &:hover{
                transform: translate3d(-50%,-50%,0) rotate(0deg) scale(.97);
            }
            &:active,
            &.active{
                transform: translate3d(-50%,-50%,0) rotate(-5deg) scale(.87);
            }
        }
    }
    #projectListWrap{
        padding:rem-calc(83 70 68);
        display: flex;
        flex-direction: column;
        align-items: center;
        #projectList{
            width:calc(100% + #{rem-calc(11)});
            margin-left:rem-calc(-11);
            margin-top:rem-calc(-28);
            margin-bottom:rem-calc(60);
            li{
                width:calc(100% / 4 - #{rem-calc(11)});
                display: inline-block;
                margin-left:rem-calc(11);
                vertical-align: top;
                &.space{
                    width:20%;
                    background:none;
                    position: absolute;
                    top:0 !important;
                    display: block !important;
                    &:nth-last-child(1){
                        height:rem-calc(155 - 11);
                        left:calc(100% / 4 + 2%) !important;
                    }
                    &:nth-last-child(2){
                        height:rem-calc(39);
                        right:0;
                        left:auto !important;
                    }
                }
                &.cultural1{
                    .corner{
                        background:#DEC254;
                        &:before{
                            border-color:#BFA22C;
                        }
                    }
                    #itemWrap{
                        .tag{
                            top:rem-calc(51);
                            left:rem-calc(24);
                            transform: translate3d(0,-50%,0);
                        }
                        #wrap{
                            #imgWrap{
                                padding-top:rem-calc(51);
                                background:#BFA22C;
                            }
                        }
                    }
                }
                &.cultural2{
                    .corner{
                        background:#335FC0;
                        &:before{
                            border-color:#224692;
                        }
                    }
                    #itemWrap{
                        .tag{
                            bottom:rem-calc(5);
                            left:rem-calc(24);
                            transform: translate3d(0,-50%,0);
                        }
                        #wrap{
                            flex-direction: column-reverse;
                            #imgWrap{
                                padding-top:rem-calc(51);
                                background:#46546A;
                                mix-blend-mode: soft-light;
                            }
                            #name{
                                padding-top:rem-calc(15);
                                padding-bottom:rem-calc(20);
                            }
                        }
                    }
                }
                &.cultural3{
                    .corner{
                        background:#949971;
                        &:before{
                            border-color:#978668;
                        }
                    }
                    #itemWrap{
                        .tag{
                            top:rem-calc(250);
                            left:rem-calc(-15);
                        }
                        #wrap{
                            #imgWrap{
                                background:#978668;
                            }
                        }
                    }
                }
                &.development{
                    .corner{
                        background:#8656A7;
                        &:before{
                            border-color:#986BB0;
                        }
                    }
                    #itemWrap{
                        .tag{
                            top:rem-calc(50);
                            left:rem-calc(-20);
                        }
                        #wrap{
                            #imgWrap{
                                background:#986BB0;
                            }
                        }
                    }
                }
                &.mobileapp{
                    .corner{
                        background:#92985A;
                        &:before{
                            border-color:#7F6C43;
                        }
                    }
                    #itemWrap{
                        .tag{
                            top:0;
                            left:rem-calc(50);
                            transform: translate3d(0,-50%,0);
                        }
                        #wrap{
                            #imgWrap{
                                background:#7F6C43;
                            }
                        }
                    }
                }
                &.ui{
                    .corner{
                        background:#979797;
                        &:before{
                            border-color:#828284;
                        }
                    }
                    #itemWrap{
                        .tag{
                            top:rem-calc(120);
                            left:rem-calc(24);
                        }
                        #wrap{
                            flex-direction: column-reverse;
                            #imgWrap{
                                background:#828284;
                            }
                            #name{
                                padding-top:rem-calc(15);
                                padding-bottom:rem-calc(20);
                            }
                        }
                    }
                }
                &.website{
                    .corner{
                        background:#A462A2;
                        &:before{
                            border-color:#A487B7;
                        }
                    }
                    #itemWrap{
                        .tag{
                            top:rem-calc(-10);
                            right:rem-calc(-10);
                        }
                        #wrap{
                            #imgWrap{
                                background:#A487B7;
                            }
                        }
                    }
                }
                &.system{
                    .corner{
                        background:#C53358;
                        &:before{
                            border-color:#9c2543;
                        }
                    }
                    #itemWrap{
                        .tag{
                            top:rem-calc(-25);
                            right:rem-calc(10);
                        }
                        #wrap{
                            flex-direction: column-reverse;
                            #imgWrap{
                                background:#463138;
                                mix-blend-mode: hard-light;
                            }
                            #name{
                                padding-top:rem-calc(53);
                                padding-bottom:rem-calc(20);
                            }
                        }
                        #des{
                            height: rem-calc(74);
                        }
                    }
                }
                #itemWrap{
                    color:$black;
                    margin-top:rem-calc(28);
                    position: relative;
                    display: block;
                    .tag{
                        position: absolute;
                    }
                    #wrap{
                        display: flex;
                        flex-direction: column;
                        #imgWrap{
                            width:100%;
                            height:rem-calc(335);
                            #img{
                                width:100%;
                                height:100%;
                                background-size:cover;
                                background-repeat: no-repeat;
                                background-position: center;
                                mix-blend-mode:darken;
                            }
                        }
                        #name{
                            padding:rem-calc(25 24 10);
                            line-height: rem-calc(30);
                        }
                    }
                    #des{
                        padding:rem-calc(18 24 10);
                        line-height: rem-calc(12);
                        opacity: .4;
                        overflow: hidden;
                    }
                }
            }
        }
        #more{
            width:rem-calc(285);
            height:rem-calc(93);
            display: flex;
            align-items: center;
            justify-content: center;
            color:#997670;
            border:rem-calc(2) solid #997670;
            border-radius: rem-calc(999);
            cursor: pointer;
            transition: all .2s cubic-bezier(0.33, 1, 0.68, 1);
            &:hover{
                color:$white;
                background:#997670;
            }
        }
    }
}