#solutions{
    background:url($basePath+'/images/paper.png') repeat;
    #description{
        background:#e3e3e3;
        color:$white;
        position: relative;
        padding-top:rem-calc(75);
        padding-bottom:rem-calc(75);
        line-height: rem-calc(41);
        &:before{
            content:'';
            width:100%;
            height:rem-calc(1);
            position: absolute;
            left:0;
            top:rem-calc(23);
            background:$drakgray;
        }
        &:after{
            content:'';
            width:100%;
            height:rem-calc(1);
            position: absolute;
            left:0;
            bottom:rem-calc(23);
            background:$drakgray;
        }
        #wrap{
            position: relative;
            z-index: 1;
            p{
                width:70%;
            }
            #icon{
                width:rem-calc(116);
                height:rem-calc(116);
                border-radius: 50%;
                background:$white url($basePath+'/images/rocket.svg') center no-repeat;
                background-size:rem-calc(47);
                position: absolute;
                top:rem-calc(-20);
                right:0;
                &:after{
                    content:'';
                    width:rem-calc(380);
                    height:rem-calc(200);
                    background:url($basePath+'/images/line1.png') no-repeat;
                    background-size:100%;
                    position: absolute;
                    top:30%;
                    right:32%;
                    transform: translate3d(0,0,0) rotate(-9deg);
                }
            }
        }
        #bgWrap{
            width:100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
            z-index: 0;
            overflow: hidden;
            #bg{
                width:100%;
                height:100%;
                position: relative;
                filter: blur(70px);
                span{
                    width:0;
                    height:0;
                    position: absolute;
                    mix-blend-mode: hard-light;
                    transform: translate3d(0,0,0);
                    &:before{
                        content:'';
                        width:50vw;
                        height:50vw;
                        border-radius: 50%;
                        transform: translate3d(-50%,-50%,0);
                        display: block;
                    }
                    &:nth-child(1){
                        top:50%;
                        left:90%;
                        animation: move1 20s ease-in-out infinite reverse;
                        &:before{
                            background:rgb(255, 123, 0);
                        }
                    }
                }
            }
        }
    }
    #outerWrap{
        background:url($basePath+'/images/formbg.png') center no-repeat;
        background-size:cover;
        #listWrap{
            padding-top:rem-calc(75);
            padding-bottom:rem-calc(83);
            &>ul{
                display: grid;
                grid-template-columns: 24.5vw 24.5vw auto;
                grid-auto-rows: rem-calc(643) 24.5vw 24.5vw;
                &>li{
                    position: relative;
                    &:nth-child(1){
                        a{
                            color:#65474B;
                            #front{
                                &:after{
                                    background:url($basePath+'/images/s_Icon_1.png') no-repeat;
                                    background-size:100%;
                                    bottom:rem-calc(30);
                                    left:rem-calc(30);
                                }
                                #wrap{
                                    svg{
                                        position: absolute;
                                        bottom:rem-calc(30);
                                        right:rem-calc(30);
                                        path{
                                            fill:#b7b371;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        grid-column-start: 2; 
                        grid-column-end: 4;
                        a{
                            width: 100%;
                            color:$white;
                            #front{
                                display: flex;
                                align-items: flex-end;
                                &:after{
                                    background:url($basePath+'/images/s_Icon_2.png') no-repeat;
                                    background-size:100%;
                                    top:rem-calc(30);
                                    right:rem-calc(30);
                                }
                                #wrap{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    svg{
                                        path{
                                            fill:#b1e8df;
                                        }
                                    }
                                    h6{
                                        width:rem-calc(295);
                                        margin: 0;
                                    }
                                    h2{
                                        padding-right:15%;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(4){
                        z-index: 2;
                        a{
                            color:$white;
                            h6{
                                color:#888B57;
                            }
                            #front{
                                &:after{
                                    background:url($basePath+'/images/s_Icon_3.png') no-repeat;
                                    background-size:100%;
                                    bottom:0;
                                    left:rem-calc(30);
                                    transform: translate3d(0,30%,0);
                                }
                                #wrap{
                                    svg{
                                        position: absolute;
                                        bottom:rem-calc(25);
                                        right:rem-calc(25);
                                        path{
                                            fill:#b7b77a;
                                        }
                                    }
                                    h6{
                                        width:90%;
                                        margin-right:0;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(5){
                        grid-column-start: 3; 
                        grid-row-start: 2; 
                        grid-row-end: 4; 
                        a{
                            color:#220440;
                            h6{
                                color:#5B906D;
                            }
                            #front{
                                &:after{
                                    top:rem-calc(30);
                                    left:rem-calc(30);
                                    background: url($basePath+'/images/s_Icon_4.png') center no-repeat;
                                    background-size:100%;
                                }
                                #wrap{
                                    #title{
                                        width:calc(100% - #{rem-calc(45+45)});
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        position: absolute;
                                        top:50%;
                                        transform: translate3d(0,-50%,0);
                                        h2{
                                            margin-bottom:rem-calc(23);
                                        }
                                    }
                                    svg{
                                        path{
                                            fill:#c87193;
                                        }
                                    }
                                    h6{
                                        width:calc(100% - #{rem-calc(45+45)});
                                        margin:0;
                                        position: absolute;
                                        bottom:rem-calc(30);
                                    }
                                }
                            }
                            #back{
                                width:100%;
                                height:100%;
                                position: absolute;
                                top:0;
                                left:0;
                                padding:rem-calc(50);
                                opacity: 0;
                                visibility: hidden;
                                transition: all .3s cubic-bezier(0.33, 1, 0.68, 1);
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                &:after{
                                    content:'';
                                    width:rem-calc(160);
                                    height:rem-calc(160);
                                    background:url($basePath+'/images/smile.png') center no-repeat;
                                    background-size:100%;
                                    position: absolute;
                                    top:25%;
                                    right:5%;
                                    mix-blend-mode: color-burn;
                                    transform: translate3d(0,0,0) rotate(-4deg);
                                }
                            }
                        }
                    }
                    &:nth-child(6){
                        grid-column-start: 1; 
                        grid-column-end: 3;
                    }
                    &:hover{
                        a{
                            box-shadow:rem-calc(10 10 30) #00000029;
                            z-index: 3;
                            transform: translate3d(0,0,0) scale(1.05) rotate(4deg);
                        }
                        &.hasBack{
                            #front{
                                opacity: 0;
                                visibility: hidden;
                            }
                            #back{
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    a{
                        width:100%;
                        height:100%;
                        position: relative;
                        background-size:cover;
                        background-position: center;
                        transition: all .6s cubic-bezier(0.33, 1, 0.68, 1);
                        #front{
                            width:100%;
                            height:100%;
                            padding:rem-calc(30);
                            position: relative;
                            opacity: 1;
                            visibility: visible;
                            transition: all .3s cubic-bezier(0.33, 1, 0.68, 1);
                            &:after{
                                content:'';
                                width:5vw;
                                height:5vw;
                                position: absolute;
                            }
                            #wrap{
                                width: 100%;
                                svg{
                                    width:rem-calc(40);
                                    height:rem-calc(40 * 0.745);
                                }
                                h1{
                                    text-transform: uppercase;
                                    word-break: break-all;
                                    line-height: rem-calc(55);
                                    -webkit-text-stroke: rem-calc(2);
                                    -webkit-text-fill-color: transparent;
                                }
                                h2{
                                    text-transform: uppercase;
                                }
                                h6{
                                    width:80%;
                                    margin-top:rem-calc(20);
                                }
                            }
                        }
                    }
                    #numoflist{
                        counter-reset:num;
                        color:$black;
                        li{
                            display: flex;
                            align-items: center;
                            margin-top:rem-calc(25);
                            &:first-child{
                                margin:0;
                            }
                            &:before{
                                counter-increment: num;
                                content:counter(num);
                                width:rem-calc(38);
                                height:rem-calc(38);
                                border-radius: 50%;
                                border:rem-calc(3) solid $black;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right:rem-calc(15);
                            }
                        }
                    }
                }
            }
        }
        #ourpartners{
            padding-bottom:rem-calc(50);
            h4{
                width:100%;
                color:#ACA2A2;
                text-align: center;
                margin-bottom:rem-calc(20);
            }
            #marquee{
                width:100%;
                display: flex;
                ul{
                    display: flex;
                    animation: marquee 10s linear infinite running;
                    li{
                        width:13vw;
                        height:10vw;
                        padding:rem-calc(0 40);
                        display: inline-block;
                        display: flex;
                        align-items: center;
                        &:first-child{
                            margin:0;
                        }
                        img{
                            width:100%;
                        }
                    }
                }
            }
        }
    }
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translate(-33.333%);
    }
}

@keyframes move1{
    0%{
        transform: translate3d(0,0,0);
    }
    20%{
        transform: translate3d(5vw,10vw,0);
    }
    40%{
        transform: translate3d(10vw,-5vw,0);
    }
    60%{
        transform: translate3d(-10vw,15vw,0);
    }
    80%{
        transform: translate3d(-10vw,-10vw,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}

// tablet
@media only screen and (max-width: 1024px) {
    #solutions{
        #outerWrap{
            #listWrap{
                &>ul{
                    grid-template-columns: 29vw 29vw auto;
                    &>li{
                        &:hover{
                            a{
                                box-shadow:none;
                                z-index: 3;
                                transform: none;
                            }
                            &.hasBack{
                                #front{
                                    opacity: 1;
                                    visibility: visible;
                                }
                                #back{
                                    opacity: 0;
                                    visibility: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #solutions{
        #description{
            padding-bottom:rem-calc(250);
            #wrap{
                #icon{
                    top:rem-calc(150);
                }
                p{
                    width:100%;
                }
            }
            #bgWrap #bg span:nth-child(1):before{
                width: 70vw;
                height: 70vw;
            }
        }
        #outerWrap{
            #listWrap{
                & > ul{
                    grid-template-columns: calc(100vw - #{rem-calc(60 * 2)});
                    grid-auto-rows:calc(80vw - #{rem-calc(60)});
                    &>li{
                        grid-column-start: initial !important;
                        grid-column-end: initial !important;
                        grid-row-start: initial !important;
                        grid-row-end: initial !important;
                        &:nth-child(2) a #front:after,
                        &:nth-child(5) a #front #icon{
                            bottom: auto;
                            top: rem-calc(30);
                            right: rem-calc(30);
                            left: auto;
                        }
                        &:nth-child(4) a #front:after{
                            bottom:rem-calc(30);
                            transform: none;
                        }
                        a{
                            #front{
                                &:after{
                                    width:10vw;
                                    height:10vw;
                                }
                            }
                        }
                    }
                }
            }
            #ourpartners #marquee ul li{
                width:20vw;
            }
        }
    }
}

// mobile
@media only screen and (max-width: 700px) {
    #solutions{
        #description{
            padding-top:rem-calc(40);
            padding-bottom:rem-calc(180);
            #wrap #icon{
                right:5%;
            }
        }
        #outerWrap{
            #listWrap{
                padding-top:rem-calc(28);
                & > ul{
                    grid-template-columns: calc(100vw - #{rem-calc(28 * 2)});
                    grid-auto-rows:calc(100vw - #{rem-calc(28)});
                    & > li{
                        &:nth-child(2) a #front{
                            align-items: flex-start;
                            #wrap{
                                flex-direction: column-reverse;
                                align-items: initial;
                                justify-content: initial;
                            }
                        }
                        &:nth-child(5) a #front #wrap{
                            #title{
                                position: initial;
                                top:0;
                                transform: none;
                            }
                            h6{
                                position: relative;
                                bottom:0;
                            }
                        }
                        a{
                            #front{
                                padding:rem-calc(20);
                                &:after{
                                    width:15vw;
                                    height:15vw;
                                    bottom:rem-calc(20) !important;
                                    left:rem-calc(20) !important;
                                    top:auto !important;
                                    right:auto !important;
                                }
                                #wrap{
                                    h1{
                                        word-break: initial;
                                        @include setFont(30, 40);
                                    }
                                    h2{
                                        margin-bottom:rem-calc(20) !important;
                                    }
                                    h6{
                                        width:100% !important;
                                    }
                                    svg{
                                        position: absolute;
                                        bottom:rem-calc(20) !important;
                                        right:rem-calc(20) !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #ourpartners{
                h4{
                    margin-bottom:rem-calc(40);
                }
                #marquee ul li {
                    width: 40vw;
                }
            }
        }
    }
}