$white: #fff;
$black: #000;
$lightgray:#e4e4e4;
$gray:#777777;
$drakgray: #584E48;
$lightyellow:#FFE332;
$yellow:#f2cb5a;
$lightred:#db8d7a;
$red:#e33c3c;
$blue:#2b2bff;
$drakblue:#515F7A;
$lightorange:#FD623E;
$orange:#e66627;
$lightblue: #7E929C;
$lightpurple:#F0EBF7;
$purple:#781B8E;
$purpleblue:#4E35F8;
$lightgreen:#B3CA2B;
$green:#C2C634;
$lightpink:#FE9B97;
$pink:#F97374;