$white: #fff;
$black: #000;
$lightgray:#e4e4e4;
$gray:#777777;
$yellow:#f2cb5a;
$lightred:#db8d7a;
$red:#e33c3c;
$blue:#2b2bff;
$orange:#FD623E;
$lightblue: #7E929C;
$purple:#781B8E;
$purpleblue:#4E35F8;
$lightgreen:#B3CA2B;
$green:#C2C634;