@font-face {
  font-family: 'Okta Neue';
  src: url('/fonts/OktaNeue-Black.woff2') format('woff2'),
      url('/fonts/OktaNeue-Black.woff') format('woff'),
      url('/fonts/OktaNeue-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Okta Neue';
  src: url('/fonts/OktaNeue-Regular.woff2') format('woff2'),
      url('/fonts/OktaNeue-Regular.woff') format('woff'),
      url('/fonts/OktaNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



$defaultFont: 'Okta Neue', sans-serif;

// .m{
//   font-weight: 500;
// }
.b{
  font-weight: 900;
}


.big{
  @include setFont(80, 90);
}

.bigTitle{
  @include setFont(70, 80);
}

h1, .h1 {
  @include setFont(50, 80);
}
h2, .h2 {
  @include setFont(40, 50);
}
h3, .h3 {
  @include setFont(30, 45);
}
h4, .h4 {
  @include setFont(25, 35);
}
h5, .h5 {
  @include setFont(20, 30);
}
h6, .h6 {
  @include setFont(15, 20);
}

.small{
  @include setFont(12, 18);
}

// tablet
@media only screen and (max-width: $tablet) {
  @include setFont(22, 34);
}

// mobile
@media only screen and (max-width: $mobile) {
}
