@font-face {
  font-family: 'Okta Neue';
  src: url($basePath+'/fonts/OktaNeue-Black.woff2') format('woff2'),
      url($basePath+'/fonts/OktaNeue-Black.woff') format('woff'),
      url($basePath+'/fonts/OktaNeue-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Okta Neue';
  src: url($basePath+'/fonts/OktaNeue-Regular.woff2') format('woff2'),
      url($basePath+'/fonts/OktaNeue-Regular.woff') format('woff'),
      url($basePath+'/fonts/OktaNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Okta Neue';
  src: url($basePath+'/fonts/OktaNeue-UltraLight.woff2') format('woff2'),
      url($basePath+'/fonts/OktaNeue-UltraLight.woff') format('woff'),
      url($basePath+'/fonts/OktaNeue-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}





$defaultFont: 'Okta Neue', sans-serif;

// .m{
//   font-weight: 500;
// }
.b{
  font-weight: 900;
}
.l{
  font-weight: 200;
}

.ultra{
  @include setFont(200, 130);
}

.big{
  @include setFont(80, 95);
}

.bigTitle{
  @include setFont(70, 80);
}

h1, .h1 {
  @include setFont(50, 80);
}
h2, .h2 {
  @include setFont(40, 50);
}
h3, .h3 {
  @include setFont(30, 45);
}
h4, .h4 {
  @include setFont(25, 35);
}
h5, .h5 {
  @include setFont(20, 30);
}
h6, .h6 {
  @include setFont(15, 20);
}

.small{
  @include setFont(12, 18);
}

// tablet
@media only screen and (max-width: $tablet) {
  .bigTitle{
    @include setFont(60, 65);
  }
  h1, .h1 {
    @include setFont(40, 70);
  }
  h2, .h2 {
    @include setFont(35, 40);
  }
  h5, .h5 {
    @include setFont(25, 35);
  }
}

@media only screen and (max-width: 768px) {
  .ultra {
    font-size: 27vw;
    line-height: 27vw;
  }
}

// mobile
@media only screen and (max-width: $mobile) {
  .big{
    @include setFont(60, 70);
  }
  .bigTitle{
    @include setFont(60, 65);
  }
  h2, .h2 {
    @include setFont(25, 30);
  }
  h3, .h3 {
    @include setFont(20, 25);
  }
  h4, .h4 {
    @include setFont(20, 30);
  }
  h5, .h5 {
    @include setFont(20, 30);
  }
}
