* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #__next{
    width:100%;
    height:100%;
  }
  body {
    width: 100%;
    height: 100%;
    font-family: $defaultFont;
    background: $lightgray;
    @include setFont(20, 30);
    #bodyWrap{
      width:100%;
      height:100%;
      #mainWrap{
        width:100%;
        height:100%;
        #scrollWrap{
          #pageTitle{
            padding-top:rem-calc(131);
            padding-bottom:rem-calc(24);
          }
          #about{
            #pageTitle{
              border-bottom:rem-calc(1) solid $drakgray;
              padding-top:rem-calc(114);
              padding-bottom:0;
            }
          }
          // &>div{
          //   width:100%;
          //   padding-top:rem-calc(235);
          //   &#home{
          //     padding-top:0;
          //   }
          // }
        }
      }
    }
  
    a{
      text-decoration: none;
      display: inline-block;
    }
    span {
      display: inline-block;
    }
    img {
      width: 100%;
      height: auto;
    }
    input,
    textarea,
    button,
    select {
      border: 0;
      padding: 0;
      margin: 0;
      outline: 0;
      background: none;
    }
    input[type="submit"] {
      cursor: pointer;
    }
    [data-src] {
    //   background-color: #eee;
    //   opacity: 0;
    //   visibility: hidden;
      // -webkit-transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
      // transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  
      &.loaded {
        opacity: 1;
        visibility: visible;
      }
    }
  
    .floatL {
      float: left;
    }
    .floatR {
      float: right;
    }
    .alignC {
      text-align: center;
    }
    .alignL {
      text-align: left;
    }
    .alignR {
      text-align: right;
    }
    .img {
      background-position: center center;
      background-size: cover;
    }
    .cap {
      text-transform: uppercase;
    }
    .center {
      width: 100%;
      padding: 0 rem-calc(103);
    }
    .underline {
      text-decoration: underline;
    }
    .show_on_desktop {
      display: block;
    }
    .show_on_mobile {
      display: none;
    }
  
    ::selection {
      background: #000;
      color: #fff;
    }
    ::-moz-selection {
      background: #000;
      color: #fff;
    }
  
    ::-webkit-input-placeholder {
      color: #000;
    }
    :-moz-placeholder {
      color: #000;
    }
    ::-moz-placeholder {
      color: #000;
    }
    :-ms-input-placeholder {
      color: #000;
    }

    .tag1{
      color:$black;
      letter-spacing: rem-calc(.5);
      position: relative;
      z-index: 2;
      &:before{
        content:'';
        width:161%;
        height:160%;
        background:#BA2936;
        border-radius: rem-calc(100);
        position: absolute;
        top:50%;
        left:50%;
        z-index: -1;
        transform: translate3d(-50%,-50%,0);
      }
    }
    .tag2{
      color:$black;
      letter-spacing: rem-calc(.5);
      position: relative;
      z-index: 2;
      &:before{
        content:'';
        width:161%;
        height:160%;
        background:$green;
        border-radius: rem-calc(100);
        position: absolute;
        top:50%;
        left:50%;
        z-index: -1;
        transform: translate3d(-50%,-50%,0);
      }
    }
    .tag3{
      position: relative;
      z-index: 2;
      letter-spacing: rem-calc(.4);
      color:#FFD0EF;
      font-weight: normal;
      &:before{
        content:'';
        width:141%;
        height:110%;
        border-radius: rem-calc(100);
        border:rem-calc(2) solid #FFD0EF;
        position: absolute;
        top:50%;
        left:50%;
        z-index: -1;
        transform: translate3d(-50%,-50%,0);
      }
      &:after{
        content:'';
        width:165%;
        height:180%;
        background: linear-gradient(90deg, rgba(254,155,151,1) 0%, rgba(252,138,136,1) 7%, rgba(249,115,116,1) 7%, rgba(249,115,116,1) 100%);
        position: absolute;
        top:50%;
        left:50%;
        z-index: -2;
        transform: translate3d(-50%,-50%,0);
      }
    }
    .tag4{
      color:$white;
      text-transform: uppercase;
      letter-spacing: rem-calc(.4);
      position: relative;
      z-index: 2;
      &:before{
        content:'';
        width:132%;
        height:210%;
        background:#FEB42B;
        border-radius: rem-calc(100);
        position: absolute;
        top:50%;
        left:50%;
        z-index: -1;
        transform: translate3d(-50%,-50%,0);
      }
    }
    .tag5{
      color:$white;
      position: relative;
      z-index: 2;
      &:before{
        content:'';
        width: 20%;
        height: 167.5%;
        background:#FB482A;
        position: absolute;
        top:50%;
        left:112%;
        transform: translate3d(0,-50%,0);
        clip-path: polygon(0 0, 100% 50%, 0 100%);
      }
      &:after{
        content:'';
        width: 135%;
        height: 167%;
        background:#FB482A;
        position: absolute;
        top:50%;
        left:45%;
        z-index: -1;
        transform: translate3d(-50%,-50%,0);
      }
    }
    .tag6{
      color:$white;
      position: relative;
      z-index: 2;
      &:before{
        content:'';
        width:564%;
        height:170%;
        background:#26C6FD;
        border-radius: rem-calc(100);
        position: absolute;
        top:50%;
        left:50%;
        z-index: -1;
        transform: translate3d(-50%,-50%,0);
      }
    }
    .tag7{
      background:$purpleblue;
      border-radius: rem-calc(100);
      color:$white;
      padding:rem-calc(15 25 15 74);
      position: relative;
      z-index: 2;
      letter-spacing: rem-calc(.6);
      &.h3{
        &:before{
          width:rem-calc(29);
          height:rem-calc(29);
          @include setFont(25, 35);
        }
        &:after{
          left:rem-calc(58);
        }
      }
      &.h5{
        padding-left:rem-calc(68);
        &:before{
          width:rem-calc(24);
          height:rem-calc(24);
          @include setFont(20, 30);
        }
        &:after{
          left:rem-calc(53);
        }
      }
      &:before{
        content:'2';
        width:rem-calc(29);
        height:rem-calc(29);
        border:rem-calc(3) solid $white;
        border-radius: rem-calc(5);
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        position: absolute;
        left:rem-calc(19);
        top:50%;
        transform: translate3d(0,-50%,0);
      }
      &:after{
        content:'.';
        position: absolute;
        top:47%;
        left:rem-calc(58);
        transform: translate3d(0,-50%,0);
      }
    }
    .tag8{
      color:$white;
      position: relative;
      z-index: 2;
      letter-spacing: rem-calc(2);
      &:after{
        content:'';
        width:190%;
        height:210%;
        background:$black;
        position: absolute;
        top:50%;
        left:50%;
        z-index: -1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 93%);
        transform: translate3d(-50%,-50%,0) rotate(-4deg);
    }
    }
    
    .corner{
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
      transition: clip-path 0.5s cubic-bezier(0.65, 0, 0.35, 1);
      &:hover{
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - #{rem-calc(40)}),calc(100% - #{rem-calc(40)}) 100%, 0 100%);
          &:before{
              border-width: rem-calc(40 40) 0 0;
          }
      }
      &:before{
          content:'';
          width:0;
          height:0;
          display: block;
          position: absolute;
          bottom:0;
          right:0;
          z-index: 1;
          border-width: 0;
          border-style: solid;
          border-color: $purple $white;
          box-shadow: rem-calc(-3 -3 5) rgba(0, 0, 0, 0.3);
          transition: border-width 0.5s cubic-bezier(0.65, 0, 0.35, 1)
      }
    }
  
    @import "./global/scrollbar";
  }
  
  // tablet
  @media only screen and (max-width: 1024px) {
  }
  // mobile
  @media only screen and (max-width: 700px) {
  }
  
  // iphone 6,7,8
  @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  }
  // iphone 8+
  @media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  }
  // iphone X
  @media (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  }
  