* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #__next{
    width:100%;
    height:100%;
  }
  body {
    width: 100%;
    height: 100%;
    font-family: $defaultFont;
    background: $lightgray;
    @include setFont(20, 30);
    #bodyWrap{
      width:100%;
      height:100%;
      #mainWrap{
        width:100%;
        height:100%;
        #scrollWrap{
          #pageTitle{
            padding-top:rem-calc(114);
          }
          // &>div{
          //   width:100%;
          //   padding-top:rem-calc(235);
          //   &#home{
          //     padding-top:0;
          //   }
          // }
        }
      }
    }
  
    a{
      text-decoration: none;
      display: inline-block;
    }
    span {
      display: inline-block;
    }
    img {
      width: 100%;
      height: auto;
    }
    input,
    textarea,
    button,
    select {
      border: 0;
      padding: 0;
      margin: 0;
      outline: 0;
      background: none;
    }
    input[type="submit"] {
      cursor: pointer;
    }
    [data-src] {
    //   background-color: #eee;
    //   opacity: 0;
    //   visibility: hidden;
      // -webkit-transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
      // transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  
      &.loaded {
        opacity: 1;
        visibility: visible;
      }
    }
  
    .floatL {
      float: left;
    }
    .floatR {
      float: right;
    }
    .alignC {
      text-align: center;
    }
    .alignL {
      text-align: left;
    }
    .alignR {
      text-align: right;
    }
    .img {
      background-position: center center;
      background-size: cover;
    }
    .cap {
      text-transform: uppercase;
    }
    .center {
      width: 100%;
      padding: 0 rem-calc(103);
    }
    .underline {
      text-decoration: underline;
    }
    .show_on_desktop {
      display: block;
    }
    .show_on_mobile {
      display: none;
    }
  
    ::selection {
      background: #000;
      color: #fff;
    }
    ::-moz-selection {
      background: #000;
      color: #fff;
    }
  
    ::-webkit-input-placeholder {
      color: #000;
    }
    :-moz-placeholder {
      color: #000;
    }
    ::-moz-placeholder {
      color: #000;
    }
    :-ms-input-placeholder {
      color: #000;
    }

    .label2{
      background:$purpleblue;
      border-radius: rem-calc(100);
      color:$white;
      padding:rem-calc(15 25 15 74);
      position: relative;
      letter-spacing: rem-calc(.6);
      &:before{
        content:'2';
        width:rem-calc(29);
        height:rem-calc(29);
        border:rem-calc(3) solid $white;
        border-radius: rem-calc(5);
        display: flex;
        align-items: center;
        justify-content: center;
        @include setFont(25, 35);
        white-space: nowrap;
        position: absolute;
        left:rem-calc(19);
        top:50%;
        transform: translate3d(0,-50%,0);
      }
      &:after{
        content:'.';
        position: absolute;
        top:47%;
        left:rem-calc(58);
        transform: translate3d(0,-50%,0);
      }
    }
    
    .corner{
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
      transition: clip-path 0.5s cubic-bezier(0.65, 0, 0.35, 1);
      &:hover{
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - #{rem-calc(40)}),calc(100% - #{rem-calc(40)}) 100%, 0 100%);
          &:before{
              border-width: rem-calc(40 40) 0 0;
          }
      }
      &:before{
          content:'';
          width:0;
          height:0;
          display: block;
          position: absolute;
          bottom:0;
          right:0;
          border-width: 0;
          border-style: solid;
          border-color: $purple $white;
          box-shadow: rem-calc(-3 -3 5) rgba(0, 0, 0, 0.3);
          transition: border-width 0.5s cubic-bezier(0.65, 0, 0.35, 1)
      }
    }
  
    @import "./global/scrollbar";
  }
  
  // tablet
  @media only screen and (max-width: 1024px) {
  }
  // mobile
  @media only screen and (max-width: 700px) {
  }
  
  // iphone 6,7,8
  @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  }
  // iphone 8+
  @media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  }
  // iphone X
  @media (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  }
  